.Error{
    min-height: 100%;
    width: 100%;
    text-align: center;
}

.Error.flex{
    flex-direction: column;
}

.Error__main.flex{
    flex-direction: column;
    gap: 20px;
}

.Error__main > h1{
    font-weight: 500;
    font-size: 2.4rem;
}

.Error__main > h3:last-child{
    margin-top: 20px;
}

.Error__main > h3 > a{
    border-bottom: 1px solid var(--clr-text-primary);
    cursor: pointer;
}