.App{
    height: 100vh;
    width: 100vw;
    min-width: 250px;
    padding: 30px 20px;
    color: var(--clr-text-primary);
}

.App.flex{
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.App__navbar{
    width: 100%;
    background-color: var(--clr-bg-secondary);
    border-radius: 10px;
}

.App__main{
    flex: 1;
    width: 100%;
    max-height: 90%;
}

/* Media Queries */
/* Screen size less than 770px */
@media screen and (max-width: 770px){
    .App{
        padding: 30px 14px;
    }
}

/* Screen size less than 320px */
@media screen and (max-width: 320px){
    .App{
        padding: 20px 8px;
    }
}

/* Only in landscape */
@media screen and (orientation: landscape) and (max-height: 690px){
    .App{
        height: max-content;
    }

    .App__navbar{
        position: sticky;
        inset: 0;
        z-index: 10;
    }
}