.Navbar{
    padding: 20px;
    height: 70px;
    border-radius: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.Navbar.flex{
    justify-content: space-between;
    align-items: center;
}

.Navbar__left > h3,
.Navbar__right > h3{
    cursor: pointer;
}

.Navbar__left > h3:hover{
    color: var(--clr-accent-blue);
}

.Navbar__right.flex{
    gap: 20px;
}

.Navbar__right > .desktop > .text{  
    padding: 10px 20px;
    border-radius: 10px;
}

.Navbar__right > .desktop > .text:hover{
    color: var(--clr-accent-blue);
    background-color: var(--clr-bg-tertiary);
}

.Navbar__right > .desktop img{
    object-fit: contain;
    height: 40px;
    width: 40px;
}

.Navbar__right > .mobile{
    display: none;
}

.Navbar__right > .search,
.Navbar__right > .mobile{
    padding: 4px;
    height: 45px;
    width: 45px;
    background-color: var(--clr-bg-tertiary);
    border-radius: 50px;
}

/* Media Queries */
/* Screen size less than 768px */
@media screen and (max-width: 768px){
    .Navbar__right > .desktop{
        display: none;
    }

    .Navbar__right > .mobile{
        display: flex;
    }
}

/* Screen size less than 320px */
@media screen and (max-width: 320px){
    .Navbar__left > h3,
    .Navbar__right > h3{
        font-size: 1rem;
    }
}