.UserSuggestions{
    height: 100%;
    width: 100%;
    background-color: var(--clr-bg-secondary);
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
}

.UserSuggestions.flex{
    flex-direction: column;
    justify-content: start;
}

.UserSuggestions > h2{
    position: sticky;
    inset: 0;
    font-weight: 400;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--clr-text-primary);
    background-color: var(--clr-bg-secondary);
    z-index: 2;
}

/* Media Queries */
/* Screen size less than 345px */
@media screen and (max-width: 345px){
    .UserSuggestions > h2{
        font-size: 1.2rem;
    }
}
