.Popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
    z-index: 10;
    text-align: center;
}

.Popup__container{
    width: max-content;
    height: max-content;
    background-color: var(--clr-bg-secondary);
    color: var(--clr-bg-secondary);
    border-radius: 10px;
    padding: 40px;
    z-index: 11;
}

.Popup__container.flex{
    flex-direction: column;
    gap: 20px;
}

.Popup__container > h2{
    font-weight: 400;
    color: var(--clr-text-primary);
}

.hide-popup{
    display: none;
}

.Popup__buttons{
    width: 80%;
}

.Popup__buttons.flex{
    gap: 10px;
}

.Popup__buttons button{
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    color: var(--clr-text-primary);
    font-size: 1.1rem;
}

.Popup__buttons > button,
.Popup__buttons > a{
    flex: 1;
    width: 100%;
}

.Popup__buttons > a{
    border: 2px solid var(--clr-bg-tertiary);
    border-radius: 10px;
}

.Popup__buttons > button:hover{
    color: var(--clr-accent-blue);
    background-color: var(--clr-bg-tertiary);
}

.Popup__buttons > button{
    color: var(--clr-text-primary);
    background-color: var(--clr-accent-red);
}

/* Media Queries */

/* Screen size less than 475px */
@media screen and (max-width: 475px){
    .Popup__buttons.flex{
        flex-direction: column;
    }
}