.Search{
    height: 100%;
    width: 100%;
}

.Search.flex{
    flex-direction: column;
    gap: 14px;
}

.Search__filter{
    width: 100%;
}

.Search__filter > form{
    max-width: 100%;
}

.Search__filter > form.flex{
    gap: 10px;
}

.Search__filter > form > input,
.Search__filter > form > button{
    padding: 14px 20px;
    border-radius: 10px;
    color: var(--clr-text-primary);
    background-color: var(--clr-bg-secondary);
    font-size: 1.1rem;
}

.Search__filter > form > input{
    flex: 1;
}

.Search__filter > form > button{
    cursor: pointer;
    padding: 10px 16px;
}

.Search__filter > form > button:hover{
    background-color: var(--clr-bg-tertiary);
    color: var(--clr-accent-blue);
}

.Search__results{
    max-width: 100%;
    height: 90%;
}

.Search__results.flex{
    flex-direction: column;
}

/* Media Queries */
/* Screen size less than 410px */
@media screen and (max-width: 410px){
    .Search__filter > form{
        flex-direction: column;
    }

    .Search__filter > form > *{
        width: 100%;
    }

    .Search__results{
        height: 80%;
    }
}