.Main{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.Main.flex{
    align-items: flex-start;
    gap: 20px;
}

.Main__left{
    width: 20%;
    height: max-content;
    z-index: 1;
}

.Main__center{
    flex: 1;
    min-width: 40%;
    height: 100%;
}

.Main__center.flex{
    align-items: flex-start;
}

.Main__right{
    width: 30%;
    height: 410px;
}

/* Media Queries */
/* Screen size less than 900px */
@media screen and (max-width: 900px){
    .Main__right{
        display: none;
    }
}

/* Screen size less than 840px */
@media screen and (max-width: 840px){
    .Main__left{
        width: max-content;
    }
}