.form{
    min-height: 100%;
    width: 100%;
}

.form__container{
    width: 50%;
}

.form__container.flex{
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}

.form__container > h2{
    font-weight: 400;
    text-align: center;
}

.form__container img{
    object-fit: cover;
    height: 120px;
    width: 120px;
    align-self: center;
    border-radius: 50%;
    background-color: var(--clr-bg-secondary);
}

.form__form.flex{
    flex-direction: column;
    gap: 20px;
}

.form__form > input{
    position: relative;
}

.form__form > .error,
.form__form > input,
.form__form > textarea,
.form__form > button,
.form__form button,
.form__form input,
.form__container .form__file{
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    color: var(--clr-text-primary);
    background-color: var(--clr-bg-secondary);
    font-size: 1.1rem;
}

.form__container input[type="file"] {
    display: none;
}

.form__container .form__file{
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.form__container .form__file.flex{
    gap: 10px;
}

.form__form > .error{
    text-align: center;
    background-color: var(--clr-accent-red);
}

.form__form > input:focus,
.form__form > textarea:focus,
.form__form > button:hover,
.form__form button:hover,
.form__form input:focus{
    color: var(--clr-accent-blue);
    background-color: var(--clr-bg-tertiary);
}

.form__labels{
    width: 100%;
}

.form__labels > label{
    width: 40%;
    font-weight: 500;
}

.form__radio{
    width: 100%;
    padding: 14px 20px;
    background-color: var(--clr-bg-secondary);
    border-radius: 10px;
}

.form__radio.flex{
    justify-content: space-evenly;
    gap: 10px;
}

.form__radio .flex{
    gap: 4px;
}

.form__radio .flex input{
    cursor: pointer;
}

.form__buttons{
    width: 100%;
}

.form__buttons.flex{
    gap: 10px;
}

.form__buttons > button,
.form__buttons > a{
    flex: 1;
}

.form__buttons > a > button{
    background-color: var(--clr-bg-secondary);
}

.form__buttons > .red,
.form__buttons > a:last-child > button{
    color: var(--clr-text-primary);
    background-color: var(--clr-accent-red);
}

.form__links{
    text-align: left;
    margin-bottom: 20px;
}

.form__links > h3 > a > span{
    border-bottom: 1px solid var(--clr-text-primary);
}

/* Media Queries */
/* Screen size less than 1100px */
@media screen and (max-width: 1100px){
    .form__container{
        width: 60%;
    }
}

/* Screen size less than 800px */
@media screen and (max-width: 800px){
    .form__container{
        width: 70%;
    }
}

/* Screen size less than 650px */
@media screen and (max-width: 650px){
    .form__container{
        width: 80%;
    }

    .form__labels.flex{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .form__labels > label{
        padding-left: 10px;
        width: 90%;
    }
}

/* Screen size less than 500px */
@media screen and (max-width: 500px){
    .form__container{
        width: 90%;
    }
}

/* Screen size less than 410px */
@media screen and (max-width: 410px){
    .form__radio.flex,
    .form__buttons.flex{
        flex-direction: column;
        gap: 6px;
        width: 100%;
    }

    .form__buttons.flex{
        gap: 10px;
    }

    .form__buttons > a{
        width: 100%;
    }
}

/* Screen size less than 350px */
@media screen and (max-width: 350px){
    .form__container{
        width: 96%;
    }
}